<div class="container-fluid p-2">
                <div class="rounded text-center bg-black bg-opacity-25 text-light mt-2 mb-2 p-2 ">
                    <span class="telefone_name text-light ">TELEFONISTA BRUNA</span>
                    <div class="container-fluid w-50 rounded bg-secondary">
                        <span class="weekday_span">Domingo</span>
                        <span class="month_day_span">19</span>
                        <span class="month_span">Setembro</span>
                        <span class="year">2022</span>
                    </div>

                </div>
                <div class="hide_date row container mt-2 justify-content-center gap-1">
                    <div class="col-md-2 align-self-center">

                        <span class="text-white">Selecione a Data</span>
                    </div>
                    <div id="date" class="col-md-auto">
                        <select class="form-select" id="day">
                        </select>
                    </div>
                    <div id="mes" class="col-md-3">
                        <select class="form-select" id="month">
                        </select>
                    </div>
                    <div id="week" class="col-md-3">
                        <select class="form-select" id="weekday">
                        </select>
                    </div>
                    <div class="col-md-1 col-sm-auto align-self-center">
                        <button onclick="saveDateToLocalStorage()" class="btn btn-success">Salvar</button>
                    </div>


                </div>
            </div>