    <div class="justify-content-center d-flex bg-secondary">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" id="navId" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" data-bs-toggle="tab" aria-current="page">Telefonista Bruna</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle bg-primary text-light" data-bs-toggle="dropdown" href="#"
                    role="button" aria-haspopup="true" aria-expanded="false">Relat처rios</a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#tab2Id">Gerar Relat처rio Completo</a>
                    <a class="dropdown-item" href="#tab3Id">Gerar Relat처rio Coleta</a>
            </li>
            <li class="nav-item" role="presentation">
                <a href="#tab5Id" class="nav-link text-light bg-danger" data-bs-toggle="tab">Adicionar Despesa</a>
            </li>
            <li class="nav-item" role="presentation">
                <a href="#" class="nav-link bg-warning text-light" role="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">Abrir Comiss찾o</a>
            </li>
            <li class="nav-item" role="presentation">
                <a href="#" class="nav-link bg-primary text-light" data-bs-toggle="tab">Salvar Imagem Tela</a>
            </li>

        </ul>
    </div>