    <div class="modal fade" id="modal_house_add" tabindex="-1" aria-labelledby="modal_house_add"
                    aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Nova Casa</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <form action="/" method="post">
                                    <div class="mb-3">
                                        <label for="" class="form-label">Nome da Casa</label>
                                        <input type="text" class="form-control" name="house_name" id="house_name"
                                            aria-describedby="helpId" placeholder="Insira o Nome da Casa" required>

                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-danger"
                                            data-bs-dismiss="modal">Fechar</button>
                                        <button type="button" onclick="createHouseName()"
                                            class="btn btn-success">Adicionar
                                            Casa</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>