<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasRightLabel">Offcanvas right</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <div class="modal-body">
        <div class="container-fluid">
            <div class="table-responsive">
                <table class="table table-primary table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">Cliente</th>
                            <th scope="col">Pagamento</th>
                            <th scope="col">Valor</th>
                            <th scope="col">Horário</th>
                        </tr>
                    </thead>
                    <tbody id="clients_result">
                    </tbody>
                </table>
            </div>

        </div>
    </div>
  </div>
</div>