<header>
  {{> navbar/nav-test}}

</header>

<main class="min-vh-100 min-vw-100 align-items-center justify-content-center m-auto bg-secondary bg-opacity-50">
  {{!-- {{> menu/menu}} --}}
  {{> offcanvas/comissao}}
   
</main>
